@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-view{
    table-layout: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.activity-card{
    vertical-align: top;
    background-color: #181c25;
}

.activity-details-div>a{
    color: white;
}

.grid-view-title{
    text-align: center;
    font-size: 25px;
    /*font-weight: bold;*/
    text-decoration: underline;
    color: white;
    background-color: #303948;
}

.activity-text-div>a{
    /*font-weight: bold;*/
    font-size: 20px;
}
.activity-author-div{
    margin-bottom: 10px;
}

.activity-author-div>a{
    font-style: italic;
    color: #7f858d;
}

.activity-details-li{
    margin-bottom: 15px;
}

.activity-places-span{
    background-color: green;
    color: white;
}
.activity-places-1{
    background-color: red;
    color: white;
}

.activity-time-span{
    color: #7f858d;
}

.vizited-new>a,
.vizited-new.activity-places-span{
    opacity: 1;
    color: yellow;
}

.vizited-old>a,
.vizited-old.activity-places-span{
    opacity: 0.8;
}

.vizited-read>a,
.vizited-read.activity-places-span{
    opacity: 0.6;
    
}