@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

input{
    font-size: 18px;
}

.run-button,
.review-button{
    padding: 10px;
    text-align: center;
    width: 100px;
    margin: 0;
    color: #212833;
    background: rgba(255,206,31,0.8);
    border: none;
    font-weight: bold;
}

.run-button{
    /*float: left;*/
}

.button-margin{
    margin-left: 10px;
}

.review-button:disabled{
    opacity: 0.5;
}

.header-timer-div{
    width: 60px;
    float: left;
    text-align: center;
    font-size: 34px;
    /*margin-left: 10px;*/
}

.header-timer{
    color: white;
 }

#input-seconds,
#input-time{
    height: 26px;
}

.text-span{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

.text-span-margin{
    margin-right: 20px;
}

.text-span-margin-top{
    /*margin-top: 20px;*/
}

#input-seconds,
#input-time{
    width: 40px;
    background: rgba(255,206,31,0.8);
    border: none;
    margin: 0 6px;
}

.request_is_active,
.request_is_passive{
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
}

.request_is_active{
    background-image: url("../img/Facebook.svg");
}

.request_is_passive{
    background-image: url("../img/Facebook.png");
}

.text-div{
    /*float: left;*/
    white-space: nowrap;
}

#input-review{
    width: 150px;
    opacity: 0.6;
    height: 30px;
    margin: -4px -4px 0 20px;
}

.lang{
    margin-right: 5px;
    height: 35px;
    width: 35px;
    text-transform: uppercase;
    border: 1px solid rgba(255,206,31,0.8);
    background-color: black;
    color: rgba(255,206,31,0.8);
}

.lang-selected{
    opacity: 0.6;
}
